@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {font-family: 'Montserrat';}

section[tabindex="0"] {
  overflow-x: hidden;
}

a {
    text-decoration: underline;
    color: #1d3c34 !important;
    font-weight: 400;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: circle;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

div.stButton > button:first-child {
    color: white;
    background-color: #1d3c34;
    opacity: 1;
    border: none;
    transition-duration: 0.4s;
    appearance: none;
    border: 0px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }

  div.stButton > button:hover {
    color: white;
    background-color: #b7dc8f;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  div.stButton > button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
